extends layout

block content
  h1 Agile Airlines
  p Bem vindo a Agile Airlines! Onde cada vôo é uma entrega de valor :)
  form(action='/flights', method='post')
    fieldset
      label(for='from') De:
      input#from(type='text', name='from')

      label(for='to') Para:
      input#to(type='text', name='to')

      label(for='departureDate') Ida:
      input#departureDate(type='text', name='departureDate')

      label(for='returnDate') Volta:
      input#returnDate(type='text', name='returnDate')

      label(for='quantity') Quantidade:
      input#quantity(type='text', name='quantity')

    button.btn.btn-primary(type='submit') Procurar
